.button{
    background-color: #F4ce14;
    width:fit-content;
    height: auto;
    border-radius: 10px;
    padding: 8px;
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 8px;
    font-weight:720;
}