.Hero{
 background-color: #495E57;
 width: 100%;
 display: flex;         /* Enable flexbox layout */
 align-items: center;   /* Vertically center the items */
 justify-content: space-between; /* Space items evenly */
 padding: 20px;
}

.TextComp{
    padding-left: 450px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.title{
    color: #F4ce14;
    font-weight:medium;
    font-size: 40pt;
    font-family: Georgia, 'Times New Roman', Times, serif ;
}

.location{
    color: #fff;
    font-weight: normal;
    font-size: 20pt;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    padding-bottom: 16px;
}

.description{
    color: #fff;
    font-weight:500;
}

.hero-image {
    position: absolute; /* Absolutely position the image within the ImageWrapper */
    top: 150px;             /* Adjust these values to position the image as needed */
    right: 480px;            /* Adjust these values to position the image as needed */
    width: 320px;       /* Adjust the size as needed */
    height: 350px;   
    border-radius: 10px;    /* Maintain aspect ratio */
}